<template>
<div>
  <h1>kTextarea component (vue):</h1>
  <br /><br />
  <k-textarea></k-textarea>
  <br /><br />
  <k-textarea v-model="secret.value"></k-textarea>
  <br /><br />
  <k-textarea v-model="comment.value" v-bind="comment" class="__color_orange"></k-textarea>
</div>
</template>

<script>
import kTextarea from "../component/kTextarea.vue"

export default {
  components: {
    kTextarea
  },
  data () {
    return {
      comment: {
        value: null,
        placeholder: "custom comment placeholder",
        label: "enter comment:",
        hint: "custom hint",
        required: true
      },
      secret: {
        value: "custom secret value",
      },
    }
  },
}
</script>
