@import "vars.sass"

.kTextarea
  display: inline-block
  position: relative
  width: 200px

  .kTextarea_label
    display: inline-block
    margin-bottom: 5px

    &.__bold
      font-weight: bold

  .kTextarea_field
    position: relative
    box-sizing: border-box
    padding: 0
    background: white
    border-radius: 2px
    border: 1px solid #bbb
    transition: $animate-normal

    &:hover
      border-color: rgba($blue, .5)

    textarea
      border: none
      background: none
      width: 100%
      height: 100%
      padding: 10px
      display: block
      box-sizing: border-box
      font-family: Arial, sans-serif

      &:focus,
      &:active
        outline: none

      &[readonly]
        cursor: default

  .kTextarea_hint
    margin-top: 5px
    color: #aaa
    text-align: right



  &.__active

    .kTextarea_field
      border: 1px solid $blue

  &.__error

    .kTextarea_field
      background: #ffe6e6

  &.__width_full
    width: 100%

  &.__color_orange

    .kTextarea_field:hover
      border-color: rgba($orange, .5)

    &.__active

      .kTextarea_field
        border: 1px solid $orange
