<template>
  <div
    class="kTextarea"
    :class="{ __active: isActive, __error: hasError }"
    v-on-clickaway="exit">
    <label
      class="kTextarea_label"
      v-if="label"
      @click.prevent="activate"
      :class="{ __bold: required }">{{ label }}</label>
    <div class="kTextarea_field">
      <textarea
        ref="textarea"
        :placeholder="placeholder"
        :value="value"
        @blur="exit"
        @focus="activate"
        @input="emitChange"></textarea>
    </div>
    <div class="kTextarea_hint" v-if="hint && !hasError">
      {{ hint }}
    </div>
    <k-error :errors="errors"></k-error>
  </div>
</template>

<script>
import kError from "k-error"
import { mixin as clickaway } from "vue-clickaway"

export default {
  components: { kError },
  mixins: [ clickaway ],
  props: [ "errors", "label", "placeholder", "value", "hint", "required" ],
  data() {
    return {
      active: false
    }
  },
  computed: {
    isActive() {
      return (this.value || this.active) ? true: false
    },

    hasError() {
      if (this.errors) {
        for (var error in this.errors) {
          if (this.errors[error].value)
            return true
        }
      }

      return false
    }
  },
  methods: {
    activate() {
      this.active = true
      this.$refs.textarea.focus()
    },

    emitChange(e) {
      this.$emit("input", e.target.value || null)
    },

    exit() {
      if (!this.value)
        this.active = false
    },
  }
}
</script>

<style lang="sass" src="./kTextarea.sass"></style>
